*{
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
}

body{
    background: rgb(255, 132, 100);
    background: linear-gradient(
         90deg,
          rgb(182, 83, 170) 0%,
            rgba(253, 105, 165, 1)100%
    );
    text-align: center;
    align-items: center;
}
.card-containEr h1{
color:  rgb(182, 83, 170);
            background: black;
            font-size: 4rem;
            /* margin: 2rem; */
            /* border: 2rem solid black ; */
            padding: 3rem;
}
.card-containEr h2{
    color:  rgba(253, 105, 165, 1);
                background: black;
                font-size: 3rem;
                margin: 2rem;
                /* border: 2rem solid black ; */
                /* padding: 3rem; */
    }